@import '../styles/variables.scss';

.headerdiv{
    background: linear-gradient(to right, $primary , $secondary);
    box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.1);
    p{
        color:$textcolor;
        font-weight:bold;
    }
    .menuicon{
        float:right;
    }
}

.btn-primary{
    background-color: $primary;
    border:0px;
    color:$textcolor;

    
}
.btn-primary:hover{
    background-color: $secondary;
border:0px;
color:$secondarytext;
}

.btn-secondary{
    background-color: $secondary;
    border:0px;
    color:$secondarytext;
}
.btn-secondary:hover{
    background-color: $primary;
    border:0px;
    color:$textcolor;;
}